@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: url("./images/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  height: 100vh;
  padding: 50px 10px;
}

body::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

button {
  border: 0;
}

button:hover {
  cursor: pointer;
}

input {
  border: 0;
}

button:focus,
input:focus {
  outline: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 400px));
  grid-template-areas:
    "h . . ."
    "a s s s"
    "a s s s";
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0 0;
  height: 80vh;
}

.header {
  grid-area: h;
  padding: 25px 50px 30px;
  letter-spacing: 2px;
  font-size: 0.7em;
  border-right: 1px solid #8b8b8b;
  border-bottom: 1px solid #8b8b8b;
}

.aside {
  grid-area: a;
  padding: 40px 40px 0;
  color: #dbdbdb;
  border-right: 1px solid #8b8b8b;
}

.section {
  grid-area: s;
  justify-content: flex-start;
  padding: 0 00px 0 40px;
  align-self: flex-start;
}

.avatar {
  margin-right: 30px;
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 0;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.avatar::after {
  font-family: "Font Awesome 5 Free";
  content: "\f044";
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 12px;
  right: 2px;
  background: #696969;
  display: grid;
  place-items: center;
  font-size: 0.8em;
  border-radius: 50%;
}

.on-hover {
  justify-content: flex-start;
  padding: 00px 0px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, auto));
  column-gap: 20px;
}

.on-hover:hover {
  cursor: pointer;
}

.on-hover .icon {
  font-size: 1.4em;
}

.on-hover span {
  font-size: 1em;
}

.detail {
  flex-direction: column;
  align-items: flex-start;
}

.detail h2 {
  text-transform: capitalize;
  letter-spacing: 3px;
  padding-bottom: 12px;
  color: #e9e9e9;
  font-size: 1.3em;
}

.detail p {
  text-transform: capitalize;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: #acacac;
  font-size: 0.86em;
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, auto));
  grid-template-areas:
    "av dt . ."
    "rb . . ."
    "rb . . .";
  row-gap: 50px;
}

.avatar {
  grid-area: av;
}

.detail {
  grid-area: dt;
}

.random-btn {
  grid-area: rb;
  font-size: 1em;
  text-transform: capitalize;
  padding: 8px 16px;
  justify-self: center;
  align-self: flex-end;
  background: cornsilk;
  background: #8b8b8b;
  color: white;
  cursor: pointer;
}

@media (max-width: 706px) {
  .container {
    grid-template-columns: repeat(2, minmax(200px, 400px));
    grid-template-areas:
      "h h"
      "a a"
      "s s";
    grid-auto-rows: minmax(50px, 80px);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0 0;
  }
  .header {
    text-align: center;
    padding: 20px 00px 00px;
    font-size: 0.5em;
  }
  .aside {
    text-align: center;
    padding: 25px;
    border-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .on-hover {
    justify-content: flex-start;
    padding: 00px 10px;
  }
  .on-hover span {
    display: none;
  }
  .avatar {
    margin-right: 0px;
    width: 120px;
    height: 120px;
  }
  .detail h2 {
    letter-spacing: 2px;
    padding-bottom: 8px;
    font-size: 0.9em;
  }
  .detail p {
    padding-bottom: 8px;
    color: #acacac;
    font-size: 0.7em;
  }

  .inner-grid {
    grid-template-columns: repeat(4, minmax(100px, auto));
    grid-template-areas:
      "av . dt dt"
      ". rb rb ."
      ". rb rb .";
    grid-row-gap: 50px;
    row-gap: 50px;
    padding: 20px 50px 20px;
  }
}
@media (max-width: 400px) {
  .inner-grid {
    grid-template-columns: repeat(2, minmax(100px, auto));
    grid-template-areas:
      "av av"
      "dt dt"
      "rb rb";
    row-gap: 20px;
    padding: 20px 00px 00px;
    justify-content: center;
  }
  .detail {
    justify-content: center;
    align-items: center;
  }
  .avatar {
    justify-self: center;
  }
  .aside {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .container {
    grid-template-columns: repeat(2, minmax(100px, 150px));
    grid-template-areas:
      "h h"
      "a a"
      "s s";
    grid-auto-rows: minmax(50px, 70px);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0 0;
    height: 90vh;
    overflow: hidden;
  }
  body {
    padding: 10px;
  }
  .header {
    padding: 20px 00px 00px;
    font-size: 0.5em;
  }
  .aside {
    padding: 40px 0;
    border-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .on-hover .icon {
    font-size: 1.1em;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  .inner-grid {
    padding: 40px 00px 00px;
  }
  .detail h2 {
    padding-bottom: 12px;
    font-size: 0.9em;
  }
  .random-btn {
    font-size: 0.9em;
    padding: 8px 20px;
  }
  .avatar::after {
    width: 25px;
    height: 25px;
    bottom: 10px;
    right: 1px;
    font-size: 0.7em;
  }
}
