@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(
    to right top,
    #8492ed,
    #c176d8,
    #ed52a8,
    #fd3a65,
    #eb4b12
  );
  padding: 10px 25px;
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background: url("./images/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  padding: 50px 0;
}
body::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
}
button {
  border: 0;
}

button:hover {
  cursor: pointer;
}
input {
  border: 0;
}
button:focus,
input:focus {
  outline: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 400px));
  grid-template-areas:
    "h . . ."
    "a s s s"
    "a . . .";
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0 0;
}

.header {
  grid-area: h;
  padding: 25px 50px 30px;
  letter-spacing: 2px;
  font-size: 0.7em;
  border-right: 1px solid #8b8b8b;
  border-bottom: 1px solid #8b8b8b;
}

.aside {
  grid-area: a;
  padding: 40px 50px 0;
  color: #dbdbdb;
  border-right: 1px solid #8b8b8b;
}

.section {
  grid-area: s;
  justify-content: flex-start;
  padding: 0 00px 0 40px;
}

.section img {
  margin-right: 30px;
  border-radius: 50%;
  width: 120px;
}

.on-hover {
  justify-content: flex-start;
  padding: 00px 0px 50px;
}

.on-hover:hover {
  cursor: pointer;
}

.on-hover .icon {
  font-size: 1.4em;
  margin-right: 50px;
}

.on-hover span {
  font-size: 1em;
}

.detail {
  flex-direction: column;
  align-items: flex-start;
}
.detail h2 {
  text-transform: capitalize;
  letter-spacing: 3px;
  padding-bottom: 12px;
  color: #e9e9e9;
  font-size: 1.3em;
}
.detail p {
  text-transform: capitalize;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: #acacac;
  font-size: 0.86em;
}
